<footer>
  <div class="container alignment-container">
    <ul class="footer-links">
      <li class="footer-links__list-item">
        <a href="#" class="footer-links__link">About</a>
      </li>
      <li class="footer-links__list-item">
        <a href="#" class="footer-links__link">Contact</a>
      </li>
      <li class="footer-links__list-item">
        <a href="#" class="footer-links__link">Legal</a>
      </li>
    </ul>

    <p class="footer-credits">&copy;2021 archana@MyShoppy.com</p>
  </div>
</footer>